{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fabrizio Ilfigaro{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    {% block content %}
    {% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(document).on('click', '[id^="add-cart-"]', function(e){
        e.preventDefault();
        var servicio_id = $(this).val(); // Extract service ID from button ID
        var cantidad = $('#qty-cart option:selected').text();
        
        // If cantidad is not found or is not a valid number, set it to 1
        if (!cantidad || isNaN(parseInt(cantidad))) {
            cantidad = 1;
        } else {
            cantidad = parseInt(cantidad);
        }

        $.ajax({
            type: 'POST',
            url: "{% url 'cart:cart_add' %}",
            data: {
                servicio_id: servicio_id,
                cantidad: cantidad,
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action:'post'
            },
            success: function(json){
                $('#cart_quantity').text(json.qty);
                console.log(json),
                location.reload();
            },
            error: function(xhr, errmsg, err){
                // Handle error
            }
        });
    });
});
        
    </script>
</body>
</html>