{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'reservar.js' %}"></script>
    <title>{% block title %}Inicio{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Logo -->
    <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" alt="Logo" height="40"></a>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="d-flex list-unstyled">
            <li class="nav-item2">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">Todos los servicios</a>
                    {% for categoria in categorias %}
                    <a class="dropdown-item" href="{% url 'categoria' categoria %}"> {{categoria}}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <div class="input-group rounded mx-auto" style="max-width: 500px;">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg></i>
            </span>
        </div>
    </div>
    
    <div class="ml-auto mr-2">
        <button class="btn btn-outline-light" type="button" id="carrito" onclick="window.location.href='{% url 'cart:cart_summary' %}'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
        </button>
    </div>
    <!-- User Dropdown -->
    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.email }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'mis_reservas' %}">Mis reservas</a>
            <a class="dropdown-item" href="{% url 'accounts:update_user' %}">Actualizar usuario</a>
            <a class="dropdown-item" href="{% url 'accounts:update_user_info' %}">Informacion del usuario</a>
            <a class="dropdown-item" href="{% url 'payment:billing_info' %}">Información de facturación</a>
            <a class="dropdown-item" href="{% url 'password_change' %}">Cambiar contraseña</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Cerrar sesión</button>
            </form>
            {% else %}
            <a class="btn btn-danger" href="{% url 'accounts:login' %}">Iniciar sesión</a>
            <a class="btn btn-danger" href="{% url 'accounts:signup' %}">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>
<br><br><br><br>
<br><br>
<!-- TITULOS PRINCIPALES -->
<div class="container2">
    <div class="cover2">
        <p>Reservar Cita</p>
    </div>
</div>
<br>
<div class="container">
    <!-- Rest of your content -->
    <div class="form-container">
        {% for message in messages %}
        <div class="alert alert-secondary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="text-container">
        <h2>Nos destacamos por nuestra alta dedicación y cuidado del cabello</h2>
        <p>Avenida Eugenio Garzón 570, esquina Islas Canarias</p>
    </div>

    <div class="column-container">
        <div class="column">
            <img src="{% static 'corte1.png' %}" alt="Corte">
        </div>
        <div class="column">
            <img src="{% static 'corte1.png' %}" alt="Corte 1">
        </div>
        <div class="column">
            <img src="{% static 'color.png' %}" alt="Color">
        </div>
    </div>
</div>

<div class="container">
    <!-- Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="reserva-tab" data-toggle="tab" href="#reserva" role="tab" aria-controls="reserva" aria-selected="true">Reserva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="informacion-tab" data-toggle="tab" href="#informacion" role="tab" aria-controls="informacion" aria-selected="false">Información</a>
        </li>
    </ul>

    <!-- Contenido dinámico -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="reserva" role="tabpanel" aria-labelledby="reserva-tab">
            <div class="contenido-reserva-wrapper">
                <div class="contenido-reserva">
                    <h2>Reservar cita</h2>
                    <form method="post" id="miFormulario">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre"><b>Nombre</b> <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" value="{{ nombre }} {{ apellido }}" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="telefono"><b>Teléfono de contacto</b></label>
                                <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Ingrese un teléfono de contacto" value="{{ telefono }}" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="fecha"><b>Fecha</b><span class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="fecha" name="fecha">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="hora"><b>Hora</b><span class="text-danger">*</span></label>
                                <select class="form-control" id="hora" name="hora">
                                    <option selected disabled>Elija una hora...</option>
                                    {% for hour in available_hours %}
                                        <option>{{ hour }}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="servicio"><b>Elija un servicio</b><span class="text-danger">*</span></label>
                                <select class="form-control" id="servicio" name="servicio">
                                    <option selected disabled><b>Elija un servicio...</b></option>
                                    <option>Barba - $200</option>
                                    <option>Corte - $300</option>
                                    <option>Corte + Barba - $450</option>
                                    <option>Mechas - $800</option>
                                    <option>Color - $1500</option>   
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="barbero"><b>Barbero</b></label>
                                <select class="form-control" id="barbero" name="barbero">
                                    <option>Fabrizio</option>
                                </select>
                            </div>
                        </div>
                        <div id="error" style="display: none; color: red;margin-top: 20px;margin-bottom: 20px;"></div>
                        <div id="success_message" style="display: none; color:green;margin-top: 20px;margin-bottom: 20px;"></div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Reservar cita</button>
                        </div>               
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">
            <!-- Contenido de información -->
            <div class="contenido-informacion-wrapper">
                <div class="contenido-informacion">
                    <h2>Sobre nosotros:</h2>
                    <p>Somos una peluqueria que se encuentra ubicada en el barrio Sayago desde 2017.</p>
                    <p><b>Dirección:</b> Garzón 570, esquina Islas Canarias.</p>
                    <p><b>Horario de atención:</b> Lunes a viernes: 10 a 20 horas. <b>Sabados:</b> 10 a 17 horas.</p>
                    <p><b>Teléfono:</b> 093 588 374</p>
                    <p class="link"><a href="https://www.instagram.com/fabrizio.ilfigaro/"><b>Instagram: Fabrizio.Ilfigaro</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>