{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>{% block title %}Reestablecer contraseña{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'passwordmng.css' %}">
</head>

<link rel="stylesheet" href="/reservadjango/static/passwordmng.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap">
<div class="container1">
    <!-- Container for the logo -->
    <div class="cover">
        <img src="{% static 'logo.png'%}" onclick="window.location.href='/'" alt="Logo">
    
        <div class="text-header">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/accounts/login/'">Iniciar sesión</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/accounts/signup/'">Registrarse</button>
        </div>
    </div>        
</div>

<div class="container">
    <h2 id="titulo">Revisa tu casilla de correo</h2>
    <div class="form-container">
        <p>En caso de que exista una cuenta con el email ingresado, enviado un correo con instrucciones para reestablcer su contraseña.</p>
    
        <p>En caso de no haber recibido un email para reestablecer tu contraseña, por favor asegurate de haber ingresado el email con el cual te registraste correctamente y revisa la carpeta de correo no deseado.<p>
    </div>
</div>